@import url("switzer.css");
@import url("general-sans.css");
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";

$spacers: (
  0: 0,
  1: 0.25rem,
  // 4px
  2: 0.5rem,
  // 8px
  3: 1rem,
  // 16px
  4: 1.5rem,
  // 24px
  5: 2rem,
  // 32px
  6: 2.5rem,
  // 40px
  7: 3rem,
  // 48px
  8: 3.5rem, // 56px
);

@import "bootstrap/scss/bootstrap";

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f6;

  --vt-c-black: #000000;
  --vt-c-black-soft: #001b1e;
  --vt-c-black-mute: #002a2e;

  --vt-c-purple: #d4c9f0;
}

:root {
  --color-background-light: var(--vt-c-white);
  --color-background-light-soft: var(--vt-c-white-soft);

  --color-background-dark: var(--vt-c-black);
  --color-background-dark-soft: var(--vt-c-black-soft);
  --color-background-dark-mute: var(--vt-c-black-mute);

  --color-text-dark: var(--vt-c-black);
  --color-text-light: var(--vt-c-white);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  background: var(--color-background-dark-soft);
  scroll-behavior: auto !important;
}

body {
  min-height: 100vh;
  color: var(--color-text-light);
  background: var(--color-background-dark-soft) !important;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: GeneralSans-Regular, sans-serif !important;
  font-weight: 400;
  font-size: 1rem; /*16px*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1,
body .h1 {
  font-size: 1.75rem; /*28px*/
  line-height: 2.125rem; /*34px*/
  @media only screen and (min-width: 768px) {
    font-size: 6rem; /*96px*/
    line-height: 6.5rem; /*104px*/
  }
}

body h2,
body .h2 {
  font-size: 1.25rem; /*20px*/
  line-height: 1.625rem /*26px*/;
  @media only screen and (min-width: 768px) {
    font-size: 3.375rem; /*54px*/
    line-height: 3.75rem /*60px*/;
  }
}

body h3,
body .h3 {
  font-size: 1rem; /*16px*/
  line-height: 1.5rem; /*24px*/
  @media only screen and (min-width: 768px) {
    font-size: 3rem; /*48px*/
    line-height: 4.25rem /*68px*/;
  }
}

body h5,
body .h5 {
  font-size: 1.5rem; /*24px*/
  @media only screen and (min-width: 768px) {
    font-size: 1.625rem; /*26px*/
  }
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
p,
li,
span,
body a {
  color: var(--color-text-light);
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {
  font-family: Switzer-Regular, sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

body .switzer-light {
  font-family: Switzer-Light, sans-serif;
  font-style: normal;
}

body .switzer-regular {
  font-family: Switzer-Regular, sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

body .switzer-italic {
  font-family: Switzer-MediumItalic, sans-serif;
  font-style: italic;
}

.text-light {
  color: var(--color-text-light);
}

.text-dark {
  color: var(--color-text-dark);
}

.text--extra-large {
  font-size: 0.875rem; /*14px*/
  line-height: 1.5rem; /*24px*/
  @media only screen and (min-width: 768px) {
    font-size: 1.375rem; /*22px*/
    line-height: 2rem; /*32px*/
  }
}

.text--large {
  font-size: 0.875rem; /*14px*/
  line-height: 1.5rem; /*24px*/
  @media only screen and (min-width: 768px) {
    font-size: 1.125rem; /*18px*/
    line-height: 2.25rem;
  }
}

.text--big {
  font-size: 0.875rem; /*14px*/
  line-height: 1.5rem; /*24px*/
  @media only screen and (min-width: 768px) {
    font-size: 1rem; /*16px*/
    line-height: 1.5rem; /*24px*/
  }
}

.text--medium {
  font-size: 0.875rem; /*14px*/
  line-height: 1.5rem; /*24px*/
  @media only screen and (min-width: 768px) {
    font-size: 0.875rem; /*14px*/
    line-height: 1.5rem; /*24px*/
  }
}

body .w-sm-auto {
  @media only screen and (min-width: 576px) {
    width: auto !important;
  }
}

body .w-md-auto {
  @media only screen and (min-width: 768px) {
    width: auto !important;
  }
}

body .w-lg-auto {
  @media only screen and (min-width: 992px) {
    width: auto !important;
  }
}
