@import "./base.css";

body .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  @media only screen and (max-width: 767px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media only screen and (max-width: 599px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
