@use "./variables.scss" as v;

:root,
body {
  font-family: v.$font;
  line-height: 1.5;
  font-weight: 400;
  color: v.$textColorLight !important;
  background-color: v.$backgroundDark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
p,
span,
li {
  color: v.$textColorLight !important;
}

.text--medium {
  font-size: v.$size14;
}
